@keyframes spin-scale {
    0% {
        transform: rotate(0deg) scale(1);
    }
    50% {
        transform: rotate(180deg) scale(1.2);
    }
    100% {
        transform: rotate(360deg) scale(1);
    }
}

.animate-spin-scale {
    animation: spin-scale 0.5s ease-in-out;
}
